@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
  header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #000;
  }
  
  .container__header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .logo img {
    width: 100px;
    justify-content: center;
    align-items: center;
  }
  
  .menu {
    display: flex;
    align-items: center;
    background: #000;
  }
  
  .menu nav {
    margin: 0 20px;
  }
  
  .menu nav ul {
    display: flex;
  }
  
  .menu nav ul li {
    list-style: none;
    margin: 20px 16px;
  }
  
  .menu nav ul li a {
    color: #818181;
    font-size: 16px;
    position: relative;
  }
  
  .menu nav ul li a:hover {
    color: #fff;
    transition: all 200ms;
  }
  
  .text-menu-selected:before {
    content: '';
    width: 100%;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 25px;
    border-radius: 300px;
  }
  
  .btn_quote {
    display: block;
    padding: 8px 40px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    margin: 0 20px;
  }
  
  .btn_quote:hover {
    color: #000;
    background: #fff;
    transition: all 200ms;
  }
  
  .menu .SocialMedia {
    margin: 0 10px;
  }
  
  .menu .SocialMedia a {
    margin: 0 5px;
  }
  
  .menu .SocialMedia i {
    color: rgba(255, 255, 255, 0.863);
    font-size: 40px;
    align-items: center;
  }
  
  .menu .SocialMedia i:hover {
      font-size: 50px;
      transition: all 300ms;
      color: #6441a5;
  }

  .menu .text-menu-selected{
    color: #fff;
    }

  /*//////////////Footer*/
  
footer a {
  color: #163f97;
  font-weight: 500;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 4rem 0;
}

.redes-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.redes-container ul {
  list-style: none;
  display: flex;
}

.redes-container ul li {
  margin: 0 1rem;
}

.redes-container ul li a {
  color: #fff;
  font-size: 1.5rem;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.redes-container ul li a:hover {
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
}

.redes-container .facebook:hover {
  color: #3b5998;
}

.redes-container .instagram:hover {
  color: #e1306c;
}

.redes-container .twitter:hover {
  color: #1da1f2;
}

.redes-container .tiktok:hover {
  color: #ffffff;
}

.redes-container .twitch:hover {
  color: #6441a5;
}

  @media only screen and (max-width: 767px) {

    .header-footer {
      font-size: 18px;
    }
    
    footer {
      padding: 3rem 0;
    }

    footer p{
        margin-top: -30px;
    }
  
    .redes-container ul li a {
      font-size: 1.2rem;
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
  
    .redes-container ul li a:hover {
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 30px;
    }

    .container-footer p {
      font-size: 13px;
    }

    .redes-container ul li {
        margin: 0 1px;
      }

    .logo img {
        margin-left: -90px;
    }
    .menu nav ul{
        flex-direction: column;
        margin-top: 30px;
    }
    .menu nav ul li{
        margin-top: -20px;
    }

    .text-menu-selected:before {
        height: 2px;
        top: 20px;

    }
    header{
        height: 142px;
     }

    .btn_quote {
      font-size: 12px;
      text-align: center;
      margin-left: -15px;
      padding: 10px 20px;
    }
      
    .menu .SocialMedia {
        display: none;
    }

    .container-footer p {
        top: 1050px;
      }

}

  @media only screen and (max-width: 330px) {
    
    .btn_quote {
        display: none;
     }
  }